apiVersion: v1
kind: Service
metadata:
  name: lovetest-yuanshengjiating-service
  namespace: lovetest-yuanshengjiating-ns
  labels:
    app: lovetest-yuanshengjiating
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: lovetest-yuanshengjiating
